@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-inter-bold {
  font-family: "Inter Bold", "Helvetica Neue", Arial, sans-serif !important;
}

.color-font-blue-900 {
  font-weight: 900;
  color: #2904e0;
}

.color-font-red-900 {
  font-weight: 900;
  color: #d30404;
}

.color-font-gray-700 {
  color: #616161 !important;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

label {
  margin-right: 16px;
}

.selectInput {
  width: 200px;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 8px 10px;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 16px;
  padding-bottom: 40px;
}

.scheduler {
  font-size: 12px;
}

.mainTitle {
  margin: 20px 0;
  font-size: 1.5rem; 
  font-weight: bold;
  color: #1a202c; 
  text-align: center;
}
