@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-inter-bold {
  font-family: "Inter Bold", "Helvetica Neue", Arial, sans-serif !important;
}

.color-font-blue-900 {
  font-weight: 900;
  color: #2904e0;
}

.color-font-red-900 {
  font-weight: 900;
  color: #d30404;
}

.color-font-gray-700 {
  color: #616161 !important;
}

/* .cardContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
} */

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

.scheduler{
  font-size: 12px;
}